<div class="bg-dark text-white bold p4 navbar">
  <div class="flex space-between-content">
    <a routerLink="" class="logo">VertHub</a>
    <fa-icon
      *ngIf="isMobile"
      (click)="onToggleDropDown()"
      [icon]="menuIcon"
      class="cursor-pointer mt1"
    ></fa-icon>
  </div>
  <div
    *ngIf="(isMobile && displayDropDown) || !isMobile"
    class="buttonsWrapper"
  >
    <div *ngIf="loggedIn; else loggedOut" class="buttons text-white">
      <a (click)="onRoute('program')">MyProgram</a>
      <a (click)="onRoute('hub')">Hub</a>
      <a (click)="onRoute('profile')">Profile</a>
      <a (click)="logout()">Logout</a>
    </div>
    <ng-template #loggedOut>
      <div class="buttons">
        <a (click)="onRoute('login')">Login</a>
        <a (click)="onRoute('signup')">Sign Up</a>
      </div>
    </ng-template>
  </div>
</div>
