@import "./colors";

// HTML elements
html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.input,
input,
select {
  padding: 5px;
  min-height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
  &Error {
    &,
    &:focus {
      border-color: "red";
    }
  }
  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none !important;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
label {
  margin-bottom: 5px;
}

.container {
  max-width: 900px;
  width: 100%;
}
.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.app-main {
  flex: 1;
  overflow: auto;
}

.card {
  background: white;
  color: black;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px;
}

// Pending component
.pendingComponent {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: grey;
  i {
    color: white;
  }
}

.errorsModalOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: grey;
  overflow: hidden;
}

.errorsModal {
  height: 100%;
  width: 100%;
  display: flex;

  position: relative;
  opacity: 1;
  z-index: 3;
  i {
    cursor: pointer;
  }
}
.errorsModalCloseButton {
  position: absolute;
  right: 30px;
  top: 10px;
  font-weight: bold;
  color: $danger;
  cursor: pointer;
  padding: 10px;
}
@media only screen and (min-width: 600px) {
  .errorsModal {
    width: 600px;
    height: auto;
  }
  .errorsModalCloseButton {
    right: 10px;
  }
}

// Input component
.input {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.inputError {
  margin-top: 6px;
  font-size: 14px;
  color: $danger;
}
