<main class="flex-column align-center">
  <h2 class="mt4 mb10">Login</h2>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="mb4">
    <app-input
      controlName="email"
      [error]="onValidate('email', 'Please enter a valid email')"
      label="Email"
      class="mb6"
    >
    </app-input>
    <app-input
      controlName="password"
      [error]="onValidate('password', 'Please enter your password')"
      type="password"
      label="Password"
      class="mb6"
    ></app-input>
    <app-button
      [disabled]="this.form.status === 'INVALID'"
      type="submit"
      value="Login"
      class="mb4"
    ></app-button>
    <p>
      Don't have an account?
      <a class="text-primary underline pl1 bold"> Sign up here </a>
    </p>
  </form>
</main>
